main {
    background: #f2f4f7; /*구분용*/
    min-height: 700px;
}

/* 슬라이드쇼 */
.Slidesbackground {
    margin: 0;
    padding: 0;

}
.slideshow-image{
    border-radius:2%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mySlides {
    border-radius:3%;
    width: 1000px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5); */
}

.slideshow-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}