/* body {
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Noto Sans KR', sans-serif;
} */

.inner {
    padding: 0 9rem;
}

/* ------------------header----------------------- */
header {
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    height: 4rem;
    z-index: 10;
    border-bottom: 1px solid gray;
}

header a {
    text-decoration-line: none;
    color: black
}

header .inner {
    height: 100%;
}

header #container {
    display: flex;
    height: 40px;
    width: 100%;
    left: 0;
    align-items: center;
    padding: 0.5rem;
}

header #container nav {
    height: 100%;
    display: flex;
    align-items: center; 
    width: 100%;   
}

header #container nav > ul{
    margin-left: 40px;
}

header #container nav > ul > li {
    display: inline-block;
    padding: 0 0.5rem;
}

header span {
    font-weight: 600;
}

header #myPage {
    width: 100px;
    float: right;
}